* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Nunito", Helvetica, sans-serif;
  color: #222222;
}

.header {
  background-color: #7744d9;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}

.header-container .logo a {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.header-container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-container .menu ul li a {
  padding: 10px;
  color: white;
}

.header-container .menu ul li a:hover {
  color: #7c7c7c;
}

@media (max-width: 600px) {
  .header {
    padding: 10px 5px;
  }
  .logo {
    margin-bottom: 30px;
  }
}

.sobre {
  padding: 3.75rem 0;
  margin: 0 auto;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sobre-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
  margin-right: 1.875rem;
}

.sobre-info h1 {
  font-size: 2.75rem;
  margin-bottom: 0.625rem;
}

.sobre-info p {
  max-width: 450px;
  line-height: 1.5;
  color: #7c7c7c;
  margin: 10px 0;
}

.sobre-info-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
}

@media (max-width: 600px) {
  .sobre {
    margin: 1.25rem 1.875rem;
  }
  .sobre-info {
    margin-right: 0;
  }
}

.startup {
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  border-top: 2px solid #7744d9;
  border-bottom: 2px solid #7744d9;
  padding: 90px 0 120px 0px;
}

.startup-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
}

.startup-info h2 {
  font-size: 2.75rem;
  line-height: 1.4;
  margin: 0.9375rem 0;
}

.startup-info p {
  max-width: 450px;
  line-height: 1.5;
  color: #7c7c7c;
  margin: 10px 0;
}

.startup-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

@media (max-width: 600px) {
  svg {
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

svg #startup1 #parte1 #parte2 #foguete {
  -webkit-animation: foguete 1s infinite alternate;
          animation: foguete 1s infinite alternate;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

svg #startup1 #parte1 #parte2 #rect-1 {
  -webkit-animation: rectPrimary 1s ease-in infinite alternate;
          animation: rectPrimary 1s ease-in infinite alternate;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

svg #startup1 #parte1 #parte2 #rect-2 {
  -webkit-animation: rectPrimary .7s ease-in infinite alternate;
          animation: rectPrimary .7s ease-in infinite alternate;
  -webkit-transition: .7s ease-in;
  transition: .7s ease-in;
}

svg #startup1 #parte1 #parte2 #rect-3 {
  -webkit-animation: rectPrimary 2s ease-in infinite alternate;
          animation: rectPrimary 2s ease-in infinite alternate;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
}

svg #startup1 #parte1 #parte2 #rect-4 {
  -webkit-animation: rectPrimary 4s ease-in infinite alternate;
          animation: rectPrimary 4s ease-in infinite alternate;
  -webkit-transition: 4s ease-in;
  transition: 4s ease-in;
}

svg #startup1 #parte1 #parte2 #Vector_67 {
  -webkit-animation: animate-hamb 1s ease-in infinite alternate;
          animation: animate-hamb 1s ease-in infinite alternate;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

svg #startup1 #parte1 #parte2 #Vector_69 {
  -webkit-animation: animate-hamb .5s ease-in infinite alternate;
          animation: animate-hamb .5s ease-in infinite alternate;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

svg #startup1 #parte1 #parte2 #Vector_71 {
  -webkit-animation: animate-hamb 3s ease-in infinite alternate;
          animation: animate-hamb 3s ease-in infinite alternate;
  -webkit-transition: 3s ease-in;
  transition: 3s ease-in;
}

@-webkit-keyframes foguete {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
}

@keyframes foguete {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
}

@-webkit-keyframes rectPrimary {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
}

@keyframes rectPrimary {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
}

@-webkit-keyframes animate-hamb {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}

@keyframes animate-hamb {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}

@media (max-width: 600px) {
  .startup {
    margin: 0.625rem 1.875rem;
  }
}

.produtos {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0 40px 0;
}

.produtos-title {
  text-align: center;
}

.produtos-title h2 {
  font-size: 2.75rem;
  margin-bottom: 2.5rem;
}

.produtos-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.produtos-content .produto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
  border: 2px solid #7744d9;
  margin: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
  -webkit-transition: .5s;
  transition: .5s;
}

.produtos-content .produto:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.produtos-content .produto-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 1.25rem auto;
  text-align: center;
}

.produtos-content .produto h2 {
  font-size: 1.5rem;
  margin: 1.5625rem auto;
  width: 100%;
  text-align: center;
}

.produtos-content .produto p {
  font-size: 1rem;
  color: #7c7c7c;
  max-width: 300px;
  text-align: center;
}

.produtos-content .produto .btn-comprar {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  background-color: transparent;
  border: 3px solid #7744d9;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  color: #7744d9;
  overflow: hidden;
}

.produtos-content .produto .btn-comprar::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #7744d9;
  z-index: -1;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn1::before {
  width: 0 !important;
  height: 100% !important;
}

.btn1:hover {
  color: white !important;
}

.btn1:hover::before {
  width: 100% !important;
}

.btn2::before {
  width: 100% !important;
  height: 0 !important;
}

.btn2:hover {
  color: white !important;
}

.btn2:hover::before {
  height: 100% !important;
}

.btn3::before {
  width: 100% !important;
  height: 0 !important;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) !important;
          transform: translate(-50%, -50%) rotate(45deg) !important;
}

.btn3:hover {
  color: white !important;
}

.btn3:hover::before {
  height: 500% !important;
}

.entregas {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 80px 0;
}

.entregas-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
}

.entregas-info h2 {
  font-size: 2.75rem;
  line-height: 1.4;
  margin: 0.9375rem 0;
}

.entregas-info p {
  max-width: 450px;
  line-height: 1.5;
  color: #7c7c7c;
  margin: 10px 0;
}

.entregas-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

svg #drone {
  -webkit-animation: animate-drone 2s ease infinite alternate;
          animation: animate-drone 2s ease infinite alternate;
}

svg #sombra-drone {
  -webkit-animation: animate-sombra 2s ease infinite alternate;
          animation: animate-sombra 2s ease infinite alternate;
}

@-webkit-keyframes animate-drone {
  from {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes animate-drone {
  from {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes animate-sombra {
  from {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    fill: #c5c5c5;
  }
}

@keyframes animate-sombra {
  from {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    fill: #c5c5c5;
  }
}

@media (max-width: 600px) {
  .entregas {
    margin: 0.625rem 1.875rem;
  }
}

.contato {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.75rem;
  padding-top: 20px;
  padding-bottom: 60px;
  border-top: 2px solid #7744d9;
}

.contato-info {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 260px;
          flex: 3 1 260px;
}

.contato-info h2 {
  font-size: 2.75rem;
  line-height: 1.4;
  margin: 1.5625rem 0;
}

.contato-info p {
  font-size: 1.5rem;
  max-width: 380px;
  line-height: 1.5;
  color: #7c7c7c;
  margin: 10px 0;
}

.contato-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

svg #insta-1,
#insta-2,
#insta-3,
#insta-4,
#insta-5 {
  -webkit-animation: animate-instagram .3s infinite alternate;
          animation: animate-instagram .3s infinite alternate;
}

svg #twt-1 {
  -webkit-animation: animate-twt 2s infinite alternate;
          animation: animate-twt 2s infinite alternate;
}

svg #yt-1 {
  -webkit-animation: animate-yt 2s infinite alternate;
          animation: animate-yt 2s infinite alternate;
}

svg #facebook-bg1,
#facebook-bg2 {
  -webkit-animation: animate-fb 2s infinite alternate;
          animation: animate-fb 2s infinite alternate;
}

@-webkit-keyframes animate-instagram {
  from {
    fill: rbga(156, 84, 212, 0, 83);
  }
  to {
    fill: #A93BFF;
  }
}

@keyframes animate-instagram {
  from {
    fill: rbga(156, 84, 212, 0, 83);
  }
  to {
    fill: #A93BFF;
  }
}

@-webkit-keyframes animate-twt {
  from {
    fill: rgba(73, 155, 206, 0.49);
  }
  to {
    fill: #55ACEE;
  }
}

@keyframes animate-twt {
  from {
    fill: rgba(73, 155, 206, 0.49);
  }
  to {
    fill: #55ACEE;
  }
}

@-webkit-keyframes animate-yt {
  from {
    fill: rgba(244, 67, 54, 0.83);
  }
  to {
    fill: #F44336;
  }
}

@keyframes animate-yt {
  from {
    fill: rgba(244, 67, 54, 0.83);
  }
  to {
    fill: #F44336;
  }
}

@-webkit-keyframes animate-fb {
  from {
    fill: rgba(71, 89, 147, 0.81);
  }
  to {
    fill: #384B7A;
  }
}

@keyframes animate-fb {
  from {
    fill: rgba(71, 89, 147, 0.81);
  }
  to {
    fill: #384B7A;
  }
}

@media (max-width: 600px) {
  .contato {
    margin: 0.625rem 1.875rem;
  }
  .contato h2 {
    font-size: 2.25rem;
  }
  .contato-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-align: center;
  }
}

.footer {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
  background-color: #7744d9;
  padding: 20px;
  margin-top: 5rem;
}
/*# sourceMappingURL=style.css.map */